@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap");

:root {
  --primary-white: #ffffff;
  --primary-orange: #f9ab00;
  --primary-dark: rgba(255, 255, 255, 0);
  --primary-red: #ef4035;
  --primary-hover-red: #f33501;
}

body {
  font-family: "Roboto Condensed", sans-serif;
}
/* navbar */
nav {
  z-index: 2;
  height: 10vh;
}
.container .navbar-brand {
  display: flex;
  align-items: center;
}
.logo {
  width: 4rem;
}

nav a.nav-link {
  letter-spacing: 0.0375rem;
  cursor: pointer;
}

nav ul li {
  text-transform: uppercase;
}

.navbar-nav > li > a {
  margin: 0 0.75rem;
  color: var(--primary-white) !important;
  border-top: 0.1875rem solid var(--primary-dark);
}

.navbar-brand {
  max-width: 17.25rem;
  padding: 0 !important;
  height: 6rem !important;
}
.bg-darki {
  background: rgb(93, 126, 155);
  background: linear-gradient(
    274deg,
    rgba(93, 126, 155, 1) 0%,
    rgba(0, 0, 0, 1) 40%
  );
}
@media (max-width: 768px) {
  .navbar-brand {
    width: 7rem;
  }
}
.nav-bar-nav > li > a.active,
.navbar-nav > li > a.active:focus {
  border-top: 0.1875rem solid var(--primary-orange);
}

.navbar-nav > li > a:hover {
  border-top: 0.1875rem solid var(--primary-orange);
}

/* Header */
.header-wraper {
  position: relative;
  background: url(background3.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  height: 90vh;
}

.main-info {
  font-family: "Roboto Condensed", sans-serif;
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  z-index: 1;
}

.main-info h1 {
  color: var(--primary-orange);
  text-transform: uppercase;
}

/* Typed text */
.typed-text {
  font-size: 2rem;
  color: black;
}
@media (max-width: 768px) {
  .main-info h1 {
    font-size: 1.7rem !important;
  }
  .typed-text {
    font-size: 1.3rem !important;
  }
}

/* Header main offer button */
.btn-main-offer {
  text-transform: uppercase;
  border-radius: 0;
  padding: 0.625rem 0.75rem 0.75rem 0.75rem;
  color: black;
  margin: 2rem;
}
.btn-main-offer:hover {
  text-decoration: none;
  background-color: #e6e4ed;
  transition: 0.2s ease-in-out;
}

/* particles-js */
.tsparticles-canvas-el {
  position: absolute;
  height: 100vh;
  width: 100vh;
  z-index: 1;
}

@media (max-width: 768px) {
  .particles-canvas {
    display: none;
  }
}
